* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--neutral-color);
}

ul  {
    list-style: none;
}

img {
    width: 100%;
}